[submodule "brench_resume"]
	path = brench_resume
	url = ../LLM-Resume-Template-Brench
	branch = main
	update = merge

[submodule "AURA-GRPO"]
	path = project_review/AURA-GRPO
	url = ../AURA-GRPO
	branch = main
	update = merge

[submodule "Coding-Agent-SFT-Demo"]
	path = project_review/Coding-Agent-SFT-Demo
	url = ../AURA-GRPO-UI
	branch = main
	update = merge